#get bot token: https://t.me/botfather
BOT_API_TOKEN='YOUR TELEGRAM ID'

#if you want to limit access: input your telegram user id
ID_ADMIN='your telegram user id'

#OR
#if you want to give access to all users: make the value empty
ID_ADMIN=
